.item{
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 1.3rem;
    padding: 1.3rem;
}

.item--position-1{
    background: #c8ddcc;
    border-color: darken(#c8ddcc,20%);
}

.item--position-2{
    background: #dfe7ed;
    border-color: darken(#dfe7ed,20%);
}

.item--position-3{
    background:#eddfdf;
    border-color: darken(#eddfdf,20%);
}



.item__message{
    color: red;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.item__message--empty{
    color:#999999;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}